* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir LT Std";
}

.page-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("https://winkwink.github.io/test-css/desktop-bg.png");
  z-index: -1;
}

.page-container__content {
  width: 100%;
  max-width: 90rem;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Avenir LT Std";
  gap: 1rem;
  padding-top: 12.5rem;
}

.page-container__content__login-modal {
  background-color: #fff;
  display: flex;
  max-width: 26.4375rem;
  width: 100%;
  padding: 5rem 2.5rem;
  box-shadow: 0 0.25rem 1rem 0
    var(--Shadows-White-BG-Shadow, rgba(47, 47, 48, 0.12));
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  padding: 5rem 2.5rem;
}

.page-container__content__login-modal img {
  height: 2rem;
}

.page-container__content__login-modal input {
  width: 21.4375rem;
  height: 3.5rem;
  padding: 0.9375rem 1rem;
  border: #d4d7d9 solid 0.0625rem;
  border-radius: 0.25rem;
}


.page-container__content__login-modal__row__button,
.page-container__content__login-modal__row__checkbox,
.page-container__content__pw-login-modal__row__button,
.page-container__content__login-modal__row__button--reset {
  display: flex;
  width: 100%;
}

.page-container__content__login-modal__row__checkbox {
  gap: 0.5rem;
}

.page-container__content__login-modal__row__button {
  justify-content: space-between;
  align-items: center;
}

.page-container__content__login-modal__row__button--reset {
  justify-content: flex-end;
  align-items: center;
}

.page-container__content__login-modal__row__checkbox input {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid #2f2f30;
}

input[type="checkbox"] {
  accent-color: #113bc2;
  border: 0.0625rem solid #113bc2;
}

.page-container__content__pw-login-modal__row__button {
  justify-content: flex-end;
  align-items: center;
}

.page-container__content__login-modal__row__button button,
.page-container__content__pw-login-modal__row__button button,
.page-container__content__login-modal__row__button--reset button {
  display: flex;
  height: 3rem;
  padding: 0.8125rem 1.5rem;
  background: #ffd41c;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
}

.page-container__content__login-modal--pw-h3 {
  display: flex;
  flex-direction: column;
}

.page-container__content__bottom {
  max-width: 26.4375rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.page-container__content__bottom__terms {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-between;
}

.page-container__content__bottom__terms--text {
  color: #000;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
}

.hidden {
  display: none;
}

.chevron-icon {
  transition: transform 0.1s ease-out;
}

.chevron-icon.rotate {
  transform: rotate(180deg);
}

.page-container__content__bottom__terms--text p {
  color: #000;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
}

.page-container__content__bottom__questions span {
  color: #2f2f30;
  text-align: center;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: var(--Typography-Font-Size-P14, 0.865rem);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Typography-Line-Height-P14, 1.25rem);
}

/* input floating label animation */
.input-wrapper {
  position: relative;
}

.input-wrapper__pw {
  position: relative;
  margin-bottom: 0;
}

.input-wrapper__verification {
  position: relative;
}

.input-wrapper__verification:nth-of-type(1) {
  margin-bottom: 4rem;
}

.input-wrapper__floating-label {
  position: absolute;
  top: 0.875rem;
  left: 1rem;
  color: #717274;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;

  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input-wrapper__input:focus + .input-wrapper__floating-label,
.input-wrapper__input:valid + .input-wrapper__floating-label {
  margin-top: -1.4375rem;
  background-color: #ffffff;
  padding: 0 0.1875rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
}

/* pw toggle */
.pw-eye {
  position: absolute;
}

.pw-eye .error path {
  fill: #d0021b;
}

.input-wrapper__pw-icon__container__show {
  top: 1.3125rem;
  right: 1rem;
}

.input-wrapper__pw-icon__container__hide {
  top: 1.125rem;
  right: 0.9375rem;
}

/* focus state */
.page-container__content__login-modal input:focus {
  border: #113bc2 0.0625rem solid;
  outline: #113bc2;
}

.page-container__content__login-modal
  input:focus
  + .input-wrapper__floating-label {
  color: #113bc2;
}

/* error state  */
.page-container__content__login-modal.error input:focus {
  border: #d0021b 0.0625rem solid;
  outline: #d0021b;
}

input.error + .input-wrapper__floating-label {
  color: #d0021b;
}

input.error {
  border: #d0021b 0.0625rem solid;
  outline: #d0021b;
}

/* pw change  */
.page-container__content__login-modal__message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  display: none;
}

.page-container__content__login-modal--pw-p,
.page-container__content__login-modal--change-pw-p {
  color: var(--Gray-180, #2f2f30);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 0.5rem;
}

.page-container__content__login-modal--pw-p {
  text-align: center;
}

.pw-requirements-container {
  margin-top: 0.5rem;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
}

.pw-requirements-container__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pw-requirements-container__content__row {
  display: flex;
  gap: 0.5rem;
}

/* verification */
.page-container__content__login-modal__user-info {
  margin-bottom: 5rem;
}
.page-container__content__login-modal__user-info,
.page-container__content__login-modal__questions {
  width: 100%;
}

.page-container__content__login-modal__user-info__container {
  display: flex;
  gap: 2.5rem;
}

.page-container__content__login-modal__user-info__col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-container__content__login-modal__user-info__col:nth-of-type(1) p {
  color: #717274;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
}

.page-container__content__login-modal__user-info__col:nth-of-type(2) p {
  color: #2f2f30;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
}

.page-container__content__login-modal__challenge {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

select {
  width: 100%;
  height: 3.5rem;
}

/* fonts */
a {
  color: #113bc2;
  text-align: center;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  text-decoration: none;
}

h3 {
  text-align: center;
}

h3,
.page-container__content__login-modal__user-info__title,
.page-container__content__login-modal__questions__title,
.page-container__content__login-modal__challenge__title {
  color: #2f2f30;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

.page-container__content__login-modal__user-info__title,
.page-container__content__login-modal__questions__title,
h4 {
  text-align: left;
  margin-bottom: 1.5rem;
}

h4 {
  color: #2f2f30;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
}

input {
  overflow: hidden;
  color: #717274;
  text-overflow: ellipsis;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
}

label {
  color: #2f2f30;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem;
}

.input-wrapper__message {
  color: #d0021b;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin: 0.25rem 0 0 1rem;
  display: none;
}

.input-wrapper__message.visible {
  display: block;
}

.input-wrapper__pw-message,
.input-wrapper__pw-message__success,
.input-wrapper__pw-message__locked {
  color: #2f2f30;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
}

.input-wrapper__pw-message {
  margin: 1rem 0;
}

.input-wrapper__pw-message__locked {
  margin-bottom: 1rem;
}

.input-wrapper__pw-message__locked a {
  color: #113bc2;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
}

/* button fonts */
button {
  color: #2f2f30;
  text-align: center;
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
}

button a {
  color: #2f2f30;
  text-align: center;
  /* Body/Body 16 Heavy */
  font-family: var(--font-Avenir-LT-Std, "Avenir LT Std");
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

/* responsive styles */
@media (max-width: 450px) {
  .page-container__bg {
    background-image: none;
  }

  .page-container__content {
    padding-top: 0;
  }

  .page-container__content__login-modal {
    max-width: 100% !important;
    width: 100%;
  }

  .page-container__content__form {
    width: 100%;
    display:flex;
    flex-direction:column;
  }

  .page-container__content__bottom__terms,
  .page-container__content__bottom__terms--text {
    padding: 0 1rem;
  }

  .page-container__content__login-modal input,
  .input-wrapper {
    width: 100%;
  }

  .page-container__content__login-modal__row__checkbox input {
    width: auto;
  }

  .input-wrapper__floating-label {
    font-size: 0.875rem;
  }
}
/* font face */

@font-face {
  font-family: "Avenir LT Std";
  font-display: fallback;
  src: url("https://partners.rebelmouse.com/penske/avenir-family/AvenirLTW05-45Book.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  font-display: fallback;
  src: url("https://partners.rebelmouse.com/penske/avenir-family/AvenirLTW05-55Roman.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  font-display: fallback;
  src: url("https://partners.rebelmouse.com/penske/avenir-family/AvenirLTW05-65Medium.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  font-display: fallback;
  src: url("https://partners.rebelmouse.com/penske/avenir-family/AvenirLTW05-85Heavy.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  font-display: fallback;
  src: url("https://partners.rebelmouse.com/penske/avenir-family/AvenirLTW05-85Heavy.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Std";
  font-display: fallback;
  src: url("https://partners.rebelmouse.com/penske/avenir-family/AvenirLTW05-95Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}
